<!DOCTYPE html>
<html lang="en" ng-app="sruDemo">
<head>
  <meta charset="utf-8">
  <title>ng-sru demo application</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="app.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script src="microxml.js"></script>
</head>
<body ng-controller="sruDemoController">
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="//gbv.github.io/ng-sru/">ng-sru</a>
            </div>
            <form class="navbar-form navbar-left" role="search" ng-submit="search()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="baseURL" placeholder="base URL">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="cqlQuery" placeholder="query (CQL)">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="recordSchema" placeholder="schema">
                </div>
               <button type="submit" class="btn btn-default">search</button>
               <button type="button" ng-click="explain()" class="btn btn-default">explain</button>
            </form>
        </div>
    </nav>
</header>
<div class="row-fluid">
    <div class="span12">
        <div ng-if="error" class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
        </div>
        <div ng-if="response"><pre>
            {{response | json}}
        </pre></div>
    </div>
    <div class="span4">...</div>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text">
              ng-sru {{version}}
            </p>
        </div>
   </nav>
</footer>
<script src="../src/ng-sru.js"></script>
<script src="app.js"></script>
</body>
</html>
